body {
    scroll-behavior: smooth;
}
.hero {
    background-color: #f8f9fa;
    padding: 100px 15px;
    text-align: center;
}
.nav-link {
    cursor: pointer;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-in.visible {
    opacity: 1;
}

.navbar-toggler-icon {
    transition: transform 0.3s ease;
}

.navbar-toggler.active .navbar-toggler-icon {
    transform: rotate(90deg);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #547d65; /* Green color for brand */
}

#services {
    background: #f7f7f7; /* Light background color */
    padding: 3rem 0;
}

#services .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px; /* Rounded corners */
    background: #ffffff;
}

#services .card:hover {
    transform: translateY(-10px); /* Subtle hover lift effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Stronger shadow on hover */
}

#services h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
}

#services .card-body {
    padding: 1rem 1.5rem; /* Reduced padding to remove excess whitespace */
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures all content is center-aligned */
    text-align: center;
}

#services .icon {
    font-size: 2rem;
    color: #547d65;
}

#services .card-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #000000;
}

#services ul {
    padding: 0; /* Removed default padding */
    list-style: none; /* Removed default bullet points */
    margin: 0;
}

#services ul li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align the list items */
    position: relative;
    padding-left: 1.5rem; /* Space for custom bullets */
}

#services ul li::before {
    content: '•'; /* Custom bullet */
    color: #547d65; /* Blue color for bullets */
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    line-height: 1;
}

#services .row {
    display: flex;
    justify-content: center;
    text-align: center;
}

#services .col-md-4 {
    margin-bottom: 2rem; /* Space between cards */
}
